* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    margin: 0 auto;
}

.boxTabuleiro {
    height: 614.5px;
    width: 614.5px;
    background-color: #303030;
}

#casasTabuleiro {
    display: flex;
    flex-wrap: wrap;
}

#casasTabuleiro img {
    cursor: grab;
    touch-action: manipulation;
}

#casasTabuleiro img:active {
    cursor: grabbing;
}

.casa {
    width: 76.8px;
    height: 76.8px;
}

#preto {
    background-color: #eead2d;
    border: 1px solid black;
}

#branco {
    background-color: #F1F1F1;
    border: 0.5px solid black;
}

.player {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.peca {
    width: 100%;
}